/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    This test skips MetaPhlAn and HUMAnN, because of the storage and time needed for db download.
    It runs Kraken2 instead with a small database.

    Use as follows:
        nextflow run barbarahelena/metagenomicspipeline -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    input                      = "${projectDir}/assets/samplesheet_test.csv"
    fasta                      = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'
    subsamplelevel             = 1000000
    perform_runmerging         = true
    skip_metaphlan             = true
    skip_humann                = true
    skip_kraken                = false
    kraken2_dbname             = 'standard_8gb'

    max_cpus   = 8
    max_memory = '16.GB'
    max_time   = '3.h'

}
