/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.
    The minimum database storage needed for a full test is approximately 100GB.
    Kraken2 uses the 8GB database, MetaPhlAn the full database (50GB) and HUMAnN small test databases.

    Use as follows:
        nextflow run barbarahelena/metagenomicspipeline -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    input                      = "${projectDir}/assets/samplesheet_test_full.csv"
    fasta                      = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'
    subsamplelevel             = 1000000
    perform_runmerging         = true
    skip_kraken                = false
    kraken2_dbname             = 'standard_8gb'

    max_cpus   = 12
    max_memory = '45.GB'
    max_time   = '6.h'
}

process {
    withName: HUMANN_MAKEDB {
        ext.test = true
    }
}